In [1]:
import pandas as pd
import matplotlib
import numpy as np
from sklearn import linear_model, model_selection
def days_late_xform(dl):
    if dl < 0.1: return 'Bin1'
    elif 0.2 > dl <= 56: return 'Bin2'
    elif 0.3 > dl <= 35: return 'Bin3'
    elif 0.4 > dl <= 14: return 'Bin4'
    elif 0.5 > dl <= 56: return 'Bin5'
    elif 0.6 > dl <= 35: return 'Bin6'
    elif 0.7 > dl <= 14: return 'Bin7'
    elif 0.8 > dl <= 14: return 'Bin8'
    else: return 'Bin9'
data=pd.read_csv('/home/titiksha31/Walnut/home-credit-default-risk/application_train.csv', delimiter=',',index_col = False)
data= data[data.EXT_SOURCE_3.notnull()]
data["Code"] = data['EXT_SOURCE_3'].map(days_late_xform)
data.groupby('Code', as_index=False)['TARGET'].mean()

   Code    TARGET
0  Bin1  0.263285
1  Bin2  0.189033
2  Bin3  0.140401
3  Bin4  0.101768
4  Bin5  0.077245
5  Bin6  0.055226
6  Bin7  0.044190
7  Bin8  0.034610
8  Bin9  0.028729

In [1]:
import pandas as pd
import matplotlib
import numpy as np
from sklearn import linear_model, model_selection

In [2]:
def days_late(dl):
    i = data['EXT_SOURCE_3'].min()
    while i < data['EXT_SOURCE_3'].max():
        if (dl < i+0.01) & (dl >i-0.01) : 
            return ('Bin'+str(i))
        i=i+0.02

In [4]:
data['EXT_SOURCE_3'].max()

0.8960095494948396

In [3]:
data=pd.read_csv('/home/titiksha31/Walnut/home-credit-default-risk/application_train.csv', delimiter=',',index_col = False)
data= data[data.EXT_SOURCE_3.notnull()]
#data.isnull().sum()

In [ ]:
data["Code"] = data['EXT_SOURCE_3'].map(days_late)
data.groupby('Code', as_index=False)['TARGET'].mean()